@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    list-style: none;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    background-color: #0a0f1c;

}

.main {
    background-color: #0a0f1c;
}

.logo {
    max-width: 4.9rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}


.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: #8afa00;
}

.behance {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #8afa00;
    margin: 0px 5px;
}

.linkedin {
    border-radius: 50%;
    height: 100%;
    width: 30px;
    border: none;
    background-color: #8afa00;
    margin: 0px 5px;
}


.abrir-menu,
.cerrar-menu {
    display: none;
}


.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0a0f1c;
    color: white;
}

.hero-left {
    padding-right: 5rem;
}

.hero-right {
    align-items: center;

}

.hero-title {
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 1rem;
}

.hero-text {
    font-size: 7rem;
    line-height: 6rem;
    font-weight: 800rem;
    margin-bottom: 0.3rem;
    padding-bottom: 1rem;
    color: #8afa00;
}

.cards {
    display: flex;
    background-color: #0a0f1c;
    flex-direction: row;
    padding: 0rem 5rem;
    
}

.card-1 {
    background-color: #141e35;
    padding: 1rem;
}
.card-2 {
    background-color: #0a0f1c;
    padding: 1rem;
}
.card-3 {
    background-color: #8afa00;
    padding: 1rem;
}
.card-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.card-title {
    font-weight: 600;
    color: #8d8d93;
}

.card-text {
    color: #a8a8ad;
    font-weight: 200;
    font-size: 0.9rem;
}

.card-link {
    color: #a8a8b9;
    font-size: 0.7rem;
}
.card-link:hover {
    color: white;
}

.skills {
    background-color: #0a0f1c;
    padding: 2rem;
    color: white;
    padding: 5rem;
}
.skills-title {
    text-align: center;
    padding-bottom: 2rem;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}
.skills-item {
    background-color:#0b0b24;
    border: .6px solid white;
    padding: .5rem; 
}
.skills-item:hover {
    color: #8afa00;
    border: .6px solid #8afa00;
}

.proyecto {
    background-color: #0a0f1c;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 5rem;


}

.proyecto-left {
    padding-right: 3rem;
}

.proyecto-text{
    font-size: 0.8rem;
    color: #6f6f7d;
    font-weight: 200;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.proyecto-link {
    color: white;
    border: 1px solid white;
    padding: .5rem 1rem;
    display: inline-block;
}
.proyecto-link:hover {
    color: aqua;
    border: 1px solid aqua;
}

.mb-3 {
    max-width: 800px;
    background-color: #0a0f1c;
    padding-top: rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin: 0 auto;
    color: #8afa00;


}

.form-label {
    padding: 1rem;


} 

.form-control {
    background-color: #010715;

    

}

.hero-about {
    background-color: #0a0f1c;
    display: flex;
    flex-direction: row;
    color: white;

    max-width: 800px;

}








.footer {
    display: flex;
    padding: 3rem;
    gap: 2rem;
    background-color: #010715;
    color: #6f6f7d;
}
.footer a {
    color: white;
}
.footer-1 {
    flex: 3;
}

.footer-2, .footer-3, .footer-4 {
    flex: 1;
}
.footer-4 > ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: end;
}


@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        color: white;
    }

    .abrir-menu {
        font-size: 2.4rem;
    }

    .abrir-menu:hover {
        color: #8afa00;
    }

    .cerrar-menu {
        font-size: 1rem;
    }

    .cerrar-menu:hover {
        color: #8afa00;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #141e35;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(22, 19, 19, 0.351);
    }


    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;

    }
    
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        padding: 0px 30px;

    }

    .hero-left {
        padding: 0px;

    }

    .hero-right {
        margin-top: 0px;
    
    }

    .hero-title {
        font-size: 1rem;
    }

    .hero-text {
        font-size: 8rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .proyecto {
        display: flex;
        padding: 0px 60px;
        flex-direction: column;

    }

    .proyecto-right {
        margin: 3rem;
        
    }

    .proyecto-left {
        align-items: center;
        justify-content: center;
    }
}
